body{
    font-size: 140%;
    font-family: 'Lato';
    text-align: center;
    background-color: white;
}
.title{
    margin: 5vh;
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 10vh;
}
.storage_table table th{
    width: 16.6%;
}
th{
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    width: 16.6%;
    font-weight: 900;
}
td{
    color: white;
    background-color: #78bcff;
    text-align: center;
    width: 16.6%;
    padding: 6px;
}
span{
    color: dodgerblue;
}